[Unit]
Description=MICC DICOM Pipeline Receiver service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=pipeline
ExecStartPre=-/cm/local/apps/docker/current/bin/docker stop micc-pipeline-receiver
ExecStartPre=-/cm/local/apps/docker/current/bin/docker rm micc-pipeline-receiver
ExecStart=/home/ddrucker/mictools/miccpipe/receiver
ExecStop=-/cm/local/apps/docker/current/bin/docker stop micc-pipeline-receiver

[Install]
WantedBy=multi-user.target
