services:

  receiver:
    restart: always
    build: .
    ports:
        - 11112:11112
    # run as qc user
    user: qc
    volumes:
        - /qc:/qc
    command: >
        storescp --output-directory /qc/dicom-in
            --verbose
            --promiscuous
            --sort-on-patientname
            --eostudy-timeout 60
            --aetitle QCDESTINATION
            --exec-on-eostudy '/pipebin/receiver_eostudy_qc.py #p' 11112
