[Unit]
Description=MICC Pipeline Runner service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=5
User=pipeline
Environment="PATH=/cm/shared/mricrogl:/cm/shared/anaconda3/condabin"
ExecStart=/cm/shared/anaconda3/envs/rapidtide/bin/python3 /home/ddrucker/mictools/miccpipe/run_pipeline_parts.py

[Install]
WantedBy=multi-user.target
