[Unit]
Description=MICC Pipeline Runner

[Service]
Type=oneshot
User=pipeline
Environment="PATH=/cm/shared/mricrogl:/cm/shared/anaconda3/condabin"
Environment="SGE_ROOT=/cm/shared/apps/sge/current"
WorkingDirectory=/home/pipeline
ExecStart=/cm/shared/anaconda3/envs/rapidtide/bin/python3 /home/ddrucker/mictools/miccpipe/run_pipeline_parts.py
